@use './../mixins' as *;

.popup {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding-top: var(--wrapper-padding);

  transition: transform 0.3s ease, height 0.25s ease;
  transform: translateY(100%);
  will-change: transform;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 600;

  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 1.6rem 1.6rem 0 0;
    border: 0.1rem solid var(--beige);
    pointer-events: all;
    overflow: hidden;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .is-under & {
      pointer-events: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    // height: calc(100% - 3.6rem);
    height: 100%;
    overflow: hidden;
  }

  &__area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 3.6rem;
    cursor: grab;

    position: relative;

    &::before {
      content: "";
      width: 5.6rem;
      height: 0.6rem;
      border-radius: 0.5rem;
      background-color: var(--green-50);
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}