@use './../mixins' as *;

[data-popup-head] {
  touch-action: pan-y;
}

[data-popup-scroll] {
  flex: 1 1 auto;
  padding-bottom: 4rem;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: contain;
  -ms-scroll-chaining: none;

  -webkit-overflow-scrolling: touch;
  will-change: padding-bottom;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.login {

  .layout__card-img {

    [data-color="light"] {
      display: none;
    }

    [data-color="dark"] {
      display: block;
    }
  }
}